.button {
    color: white;
    font-size: 16px;
    padding: 8px;
    background-color: #d24e3e;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    &:hover {
        background-color: #AD4033;
    }
    &:disabled {
        cursor: initial;
        opacity: 0.7;
    }
}