.ob-button {
    text-align: center;
    margin-right: 12px;
    color: $blackColor;
    background-color: transparent;
    font-size: $mediumFont;
    font-family: 'ApexNew-Bold';
    text-transform: uppercase;
    padding: 1.5vh 3vw 1vh;
    border: solid 1px $mainColor;
    &:hover {
        cursor: pointer;
        color: $mainColor;
    }
    &:disabled {
        cursor: initial;
        background-color: lighten($lightGreyColor, 10%);
        border-color: $blackColor;
        color: $blackColor;
        &:hover {
            color: $blackColor;
        }
    }
    
    &--active-disabled {
        button {
            &:disabled {
                background-color: transparent;
                color: $blueColor;
                &:hover {
                    color: $blueColor;
                }
            }
        }
    }

    &--size-small {
        padding: 0.75vh 1.5vw 0.5vh;
        font-size: $smallFont;
        margin-bottom: 0;
    }

}