.ob-textarea {
    position: relative;
    margin-top: 30px;

    &__root {
        width: 100%;
        border-radius: 0;
        font-size: 21px;
        line-height: 25px;
        border: 1px solid #424041;
        padding: 6.25px 12.5px;
        letter-spacing: 0.4px;
    }

    &__label {
        position: absolute;
        padding: 0 6px;
        background-color: white;
        font-size: 16px;
        top: 0;
        transform: translateY(-50%);
        left: 30px;
    }
}