.white-card {
  width: 200px;
  height: 200px;
  background-color: white;
  padding: 20px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform;
  transition-duration: 0.4s;

  &__content {
    flex-grow: 1;
  }

  &--upside-down {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
