$mainColor: #D20A10;
$blackColor: #424041;
$lightGreyColor: #C2C0C3;
$blueColor: #4FC3E7;

$mediumFont: calc(10px + 2vmin);
$smallFont: calc(10px + 1vmin);

$bp-s: 600px;
$bp-m: 960px;
$bp-l: 1280px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {

}

.app__main {
  
}

